/*//////////////////////////////////////////////////
--------------------------------------------------
G E N E R A L
--------------------------------------------------
//////////////////////////////////////////////////*/

/* ——————————————————————————————————————————————————
Debug */

.debug0 { background: yellow; }
.debug1 { background: red; }
.debug2 { background: green; }
.debug3 { background: blue; }

/* ——————————————————————————————————————————————————
Reset */

* { padding: 0; margin: 0; box-sizing: border-box; }

/* ——————————————————————————————————————————————————
Wrapper */

.wrapper {
  margin: 19px auto;
  max-width: 1396px;
  height: calc(100vh - 38px);
  /* POSITION */
  display: flex;
}

/* ——————————————————————————————————————————————————
Header */

.header {
  width: 100%;
  height: 59px;
  padding: 10px 16px;
  /* POSITION */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}


/*//////////////////////////////////////////////////
--------------------------------------------------
A S I D E   L E F T
--------------------------------------------------
//////////////////////////////////////////////////*/

aside {
  flex: 30%;
  /* POSITION */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* ——————————————————————————————————————————————————
Notifications */

.notifications {
  width: 100%;
  min-height: 62px;
  padding: 13px;
  /* POSITION */
  display: flex;
  align-items: center;
}

/* ——————————————————————————————————————————————————
All Chats */

.all-chats {
  width: 100%;
  height: 49px;
  padding: 13px;
  /* POSITION */
  display: flex;
  align-items: center;
}

/* ——————————————————————————————————————————————————
All Chats Search */

.all-chats-search {
  width: 100%;
  height: 49px;
  padding: 13px;
  /* POSITION */
  display: flex;
  align-items: center;
}

/* ——————————————————————————————————————————————————
List Chats */

.list-chats {
  width: calc(100% - 6px);
  height: 100%;
  overflow-y: scroll;
  /* POSITION */
  display: flex;
  flex-direction: column;
}


/*//////////////////////////////////////////////////
--------------------------------------------------
M A I N   R I G H T
--------------------------------------------------
//////////////////////////////////////////////////*/

/* ——————————————————————————————————————————————————
Main content */

main {
  flex: 70%;
  /* POSITION */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

/* ——————————————————————————————————————————————————
Block Single Chat */

.block-single-chat {
  width: calc(100% - 6px);
  height: 100%;
  overflow-y: scroll;
}

/* ——————————————————————————————————————————————————
Block Single Chat */

.block-write-message {
  max-width: 100%;
  min-height: 62px;
  justify-content: flex-end;
  /* POSITION */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
