/*//////////////////////////////////////////////////
--------------------------------------------------
G E N E R A L
--------------------------------------------------
//////////////////////////////////////////////////*/

/* ——————————————————————————————————————————————————
Debug */

.debug0 { background: yellow; }
.debug1 { background: red; }
.debug2 { background: green; }
.debug3 { background: blue; }

/* ——————————————————————————————————————————————————
Reset */

* { padding: 0; margin: 0; box-sizing: border-box; }

/* ——————————————————————————————————————————————————
Wrapper */

.wrapper {
  margin: 19px auto;
  width: 1396px;
  height: calc(100vh - 38px);
  /* POSITION */
  display: flex;
}


/*//////////////////////////////////////////////////
--------------------------------------------------
A S I D E   L E F T
--------------------------------------------------
//////////////////////////////////////////////////*/

aside {
  flex: 30%;
}


/*//////////////////////////////////////////////////
--------------------------------------------------
M A I N   R I G H T
--------------------------------------------------
//////////////////////////////////////////////////*/

main {
  flex: 70%;
}
