/*//////////////////////////////////////////////////
--------------------------------------------------
G E N E R A L
--------------------------------------------------
//////////////////////////////////////////////////*/

/* ——————————————————————————————————————————————————
Debug */

.debug0 { background: yellow; }
.debug1 { background: red; }
.debug2 { background: green; }
.debug3 { background: blue; }

/* ——————————————————————————————————————————————————
Reset */

* { padding: 0; margin: 0; box-sizing: border-box; }
